################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MVCFilmi/MVCFilmi/App_Data/MVCFilmiContext-20230119172424.mdf
/MVCFilmi/MVCFilmi/App_Data/MVCFilmiContext-20230119172424_log.ldf
